<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				 %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level %class{36}.%M %L - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>
			Logs\\ExpenseTracker.log
		</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>Logs\\ExpenseTracker-%d{yyyy-MM-dd-HH}.%i.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		
		<encoder>
			<pattern>
				 %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level %class{36}.%M %L - %msg%n
			</pattern>
		</encoder>
	
		
	</appender>

	
	<root level="INFO">
		<appender-ref ref="myConsoleAppender"/>
		<appender-ref ref="myFileAppender"/>
	</root>
</configuration>

